<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloWorldSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>721938EA1CBC49CE007DCE3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>721938FE1CBC49CF007DCE3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>721939091CBC49CF007DCE3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
